.navbar {
  height: 30px;
  width: 100vw;
  background-color: blue;
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.3);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar_menu {
  cursor: pointer;
}

.navbar .navbar_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navbar_logo img {
  width: 70px;
  transform: translateY(-2px);
}

.navbar .navbar_logo span {
  color: blue;
}

.navbar .navbar_search {
  cursor: pointer;
}


.navbar__slider {
  background-color: rgb(50, 50, 129);
  width: 40vw;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0px;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
  border-left: 2px solid black;
  /* filter: blur(1px); */
}

.navbar__backdrop {
  width: 100vw;
  position: fixed;
  z-index: 6;
  top: 6.29869vh;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.282);
}
